/* common shared styles */
*{
    margin: 0;
    padding: 0;
    font-family: Lato;
}

/* body{
    max-width: 1200px;
    margin: 0 auto;
} */

.centered-section{
    margin: 0 150px;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}

.btn{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

/* header section styles */
header{
    background-color: rgba(229, 84, 115, 0.10);
    margin-bottom: 150px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 60px;
}

.header-information{
    padding: 150px 0 100px;
}

.header-title{
    color: #272727;
    font-size: 65px;
    font-weight: 800;
}

.header-description{
    margin: 32px 0;
}

.header-image{
    min-width: 50%;
    margin-top: 50px;
}

.header-image img{
    width: 100%;
}

/* featured flowers styles */
.featured-description{
    text-align: center;
    margin: 25px 0 50px;
}

.featured-content{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.featured-image{
    border-radius: 300px 300px 0px 0px;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 30px;
}

.image-1{
    background: rgba(167, 33, 98, 0.15);
}

.image-2{
    background: rgba(5, 151, 160, 0.15);
}

.image-3{
    background: rgba(71, 125, 17, 0.15);
}

.image-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}